@media (max-width:576px) {
  .contanier {
    max-width: 95%;
    margin: 0 auto;
    padding: 0px 15px;
  }

  .nav-Item {
    display: none;
  }

  .navbar .btn {
    display: none;
  }

  .fa-bars {
    display: block;
    font-size: 27px;
  }

  #banner-section {
    padding: 36px 0px;
  }

  .banner-content p {
    font-size: 18px;
  }

  #about-section {
    padding: 36px 0;
  }

  #whyChoose-section {
    background-color: #230E3D;
    padding: 40px 0px;
  }

  .title {
    font-size: 32px;
  }

  .podcast-cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }

  .whychoose-Card {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 16px;
  }

  .card-1,
  .card-2,
  .card-3,
  .card-4,
  .card-5 {
    grid-column: span 1;
    grid-row: span 1;
  }

  #feature-section {
    padding: 40px 0;
  }


  .feature-cards {
    grid-template-columns: repeat(1, 1fr);
    gap: 16px;
  }

  .feature-cards .card iframe {
    width: 100%;
  }

  #host-section {
    background-color: rgba(26, 11, 46, 1);
    padding: 40px 0px;
  }

  .host {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .host .icon {
    justify-content: center;
  }

  .company-logo {
    flex-wrap: wrap;
  }

  footer {
    padding: 40px 0;
  }

  footer p {
    font-size: 14px;

  }

}



@media (min-width:1500px) and (max-width:2100px) {
  .contanier {
    width: 100%;
    max-width: 65%;
    margin: 0 auto;
  }

}