@media (max-width:576px) {
  .contanier {
    max-width: 95%;
    margin: 0 auto;
  }

  .nav-Item {
    display: none;
  }

  .navbar .btn {
    display: none;
  }

  .fa-bars {
    display: block;
    font-size: 27px;
  }

  .banner-content p {
    font-size: 23px;
  }
}