@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.contanier {
  width: 100%;
  max-width: 80%;
  margin: 0 auto;
}

header {
  background: linear-gradient(to left,
      rgba(42, 24, 108, 1),
      rgba(65, 37, 103, 1),
      rgba(83, 60, 114, 1));
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
}

.nav-Item {
  display: flex;
  align-items: center;
  gap: 20px;
  list-style: none;
}

.nav-Item .nav-Links {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
}

.logo h2 {
  color: #ffff;
  font-size: 35px;
  font-weight: 700;
}

.navbar .logo h2 span {
  background: linear-gradient(#F7E93F, #FB09B4, #9100F8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn {
  border: none;
  padding: 12px 30px;
  border-radius: 20px;
  background: linear-gradient(#F7E93F, #FB09B4, #9100F8);
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  cursor: pointer;
  animation: pulse 1.5s infinite;
}

.fa-bars {
  color: #ffff;
  display: none;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.08);
  }

  100% {
    transform: scale(1);
  }
}


@media (max-width:576px) {
  .contanier {
    max-width: 95%;
    margin: 0 auto;
  }

  .nav-Item {
    display: none;
  }

  .navbar .btn {
    display: none;
  }

  .fa-bars {
    display: block;
    font-size: 27px;
  }
}