@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.contanier {
  width: 100%;
  max-width: 80%;
  margin: 0 auto;
}

header {
  /* background: linear-gradient(to left,
      rgb(36, 21, 90),
      rgb(66, 36, 109),
      rgb(69, 43, 104)); */
  background-color: #1A0B2E;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
}

.nav-Item {
  display: flex;
  align-items: center;
  gap: 20px;
  list-style: none;
}

.nav-Item .nav-Links {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
}

.logo h2 {
  color: #ffff;
  font-size: 35px;
  font-weight: 700;
}

.navbar .logo h2 span {
  background: linear-gradient(#F7E93F, #FB09B4, #9100F8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn {
  border: none;
  padding: 12px 30px;
  border-radius: 20px;
  background: linear-gradient(#F7E93F, #FB09B4, #9100F8);
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  cursor: pointer;
  animation: pulse 1.5s infinite;
}

.fa-bars {
  color: #ffff;
  display: none;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.08);
  }

  100% {
    transform: scale(1);
  }
}

/* Banner Section  */
#banner-section {
  background-image: url('../assets/hero-bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 100px 0px;
}

.banner-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.banner-content .microphone {
  background-image: url('../assets/hero-circle.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 81px 116px;
  border-radius: 50%;
  position: relative;
}

.banner-content .bedge {
  padding: 10px 21px;
  position: absolute;
  top: 23px;
  right: 21px;
  background-color: #00FF88;
  border-radius: 37px;
  font-size: 18px;
  font-weight: 600;
}

.banner-content .microphone img {
  max-width: 100%;
}

.banner-content h1 {
  color: #fff;
  font-size: 60px;
  font-weight: 900;
  margin-bottom: 10px;
  text-align: center;
}

.banner-content p {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 30px;
  text-align: center;
}


.banner-content .btn-area {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;

}

.banner-content .btn-area .btn-1 {
  border: none;
  padding: 12px 30px;
  border-radius: 25px;
  background: linear-gradient(#F7E93F, #FB09B4, #9100F8);
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  cursor: pointer;
}

.banner-content .btn-area .btn-2 {
  border: 1px solid #00FF88;
  padding: 12px 30px;
  border-radius: 25px;
  font-weight: 500;
  font-size: 18px;
  cursor: pointer;
  color: #00FF88;
  background: transparent;
}

/* About section */
#about-section {
  background-color: #1A0B2E;
  padding: 50px 0px;
}

.about-content h2 {
  color: #fff;
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 10px;
  text-align: center;
}

.about-content p {
  color: #fff;
  font-size: 16px;
  margin-bottom: 20px;
  text-align: center;
}

.about-content h6 {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 10px;
  text-align: center;
}

.podcast-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 80px;
  align-items: center;
  margin-top: 100px;
}

.podcast-card h2 {
  color: #00FF88;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 10px;
  text-align: center;
}

.podcast-card h4 {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

/* whyChoose-section */
#whyChoose-section {
  background-color: #230E3D;
  padding: 100px 0px;
}

.title {
  color: #fff;
  font-size: 48px;
  font-weight: 600;
  text-align: center;
}

.whychoose-Card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 30px;
  margin-top: 40px;
}

.whychoose-Card h4 {
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  margin: 16px 0px;
}

.whychoose-Card p {
  font-size: 16px;
  font-weight: 400;
  color: #fff;

}

.whychoose-Card img {
  max-width: 100%;
}

.card-1 {
  grid-column: span 1;
  grid-row: span 2;
  align-content: center;
}

.card-2 {
  grid-column: span 2;
  grid-row: span 1;
}

.card-3 {
  grid-column: span 2;
  grid-row: span 1;
}

.card-4 {
  grid-column: span 2;
  grid-row: span 1;
}

.card-5 {
  grid-column: span 1;
  grid-row: span 1;
}

.card-1,
.card-2,
.card-3,
.card-4,
.card-5 {
  background-color: rgba(53, 17, 101, 0.4);
  border-radius: 20px;
  padding: 40px;
}